@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  background: #151515;
  color: #fff;
}
.logo {
  height: 80px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #202020;
  width: 100%;
  height: 110px;
  position: fixed;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 62px;
}
ul li a {
  color: #fff;
  font-weight: 400;
  font-size: 19px;
}
ul li a:hover {
  color: #46ff74;
}

/*main*/


